{{/*
Copyright 2026 Team 254. All Rights Reserved.
Author: pat@patfairbank.com (Patrick Fairbank)

Single-line text display for the back of the team sign.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Team Sign Back Display - {{.EventSettings.Name}} - Cheesy Arena </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/cheesy-arena.css"/>
    <link rel="stylesheet" href="/static/css/team_sign_back_display.css"/>
  </head>
  <body>
    <div id="displayContainer">
      <div id="displayLine1"></div>
      <div id="displayLine2">
        <span>A:</span><span id="autoCount">0</span>
        <span>T:</span><span id="transitionCount">0</span>
        <span>E:</span><span id="endGameCount">0</span>
      </div>
      <div id="displayLine3">
        <span>1:</span><span id="shift1Count">0</span>
        <span>2:</span><span id="shift2Count">0</span>
        <span>3:</span><span id="shift3Count">0</span>
        <span>4:</span><span id="shift4Count">0</span>
      </div>
    </div>
    <div id="controlButtons">
      <button type="button" id="startMatch" class="btn btn-success btn-control" onclick="startMatch();">
        Start Match
      </button>
      <button type="button" id="abortMatch" class="btn btn-danger btn-control" onclick="abortMatch();">
        Abort Match
      </button>
      <button type="button" id="commitResults" class="btn btn-primary btn-control" onclick="commitResults();">
        Commit Results
      </button>
      <button type="button" id="discardResults" class="btn btn-warning btn-control" onclick="discardResults();">
        Discard Results
      </button>
    </div>
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/team_sign_back_display.js"></script>
  </body>
</html>
